<div class="container">
  <div class="check-container">
    <input type="checkbox" id="one">
    <label for="one"></label>
    <input class="tag">Choice One</input>
  </div>
  <div class="check-container">
    <input type="checkbox" id="two">
    <label for="two"></label>
    <span class="tag">Choice Two</span>
  </div>
  <div class="check-container">
    <input type="checkbox" id="three">
    <label for="three"></label>
    <span class="tag">Choice Three</span>
  </div>
</div>